.page-center {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.page-title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.4px;
}
