@import "tailwindcss";

@import "./styles/base.css";
@import "./styles/theme.css";

@import "./styles/components/header.css";
@import "./styles/components/mobile-menu.css";

@import "./styles/pages/common.css";
@import "./styles/pages/auth.css";

@import "./styles/pages/public.css";
@import "./styles/pages/profile.css";
